name: e2e

on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  GO_VERSION: "1.24"
  K8S_VERSION: "v1.33.1"
  KIND_VERSION: "v0.29.0"
  KIND_CLUSTER_NAME: kind

permissions: write-all

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ env.GO_VERSION }}
      id: go

    - name: Check out code
      uses: actions/checkout@v5

    - name: Build
      run: |
        REGISTRY="registry.k8s.io/networking" IMAGE_NAME="kube-ingress" TAG="test" make image-build
        mkdir _output
        docker save registry.k8s.io/networking/kube-ingress:test  > _output/kube-ingress-image.tar

    - uses: actions/upload-artifact@v5
      with:
        name: test-image
        path: _output/kube-ingress-image.tar

  e2e:
    name: e2e
    runs-on: ubuntu-22.04
    timeout-minutes: 100
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        ipFamily: ["ipv4", "ipv6"]
    env:
      JOB_NAME: "kube-ingress-${{ matrix.ipFamily }}"
      IP_FAMILY: ${{ matrix.ipFamily }}
    steps:
    - name: Check out code
      uses: actions/checkout@v5

    - name: Enable ipv4 and ipv6 forwarding
      run: |
        sudo sysctl -w net.ipv6.conf.all.forwarding=1
        sudo sysctl -w net.ipv4.ip_forward=1

    - name: Set up environment (download dependencies)
      run: |
        TMP_DIR=$(mktemp -d)
        # ingress test framework
        git clone --depth 1 https://github.com/kubernetes-sigs/ingress-controller-conformance.git ${TMP_DIR}/ingress-controller-conformance
        cd ${TMP_DIR}/ingress-controller-conformance
        make build
        sudo cp ${TMP_DIR}/ingress-controller-conformance/ingress-conformance /usr/local/bin/ingress-conformance
        sudo chmod +x /usr/local/bin/ingress-conformance
        cd -
        # Test binaries
        curl -L https://dl.k8s.io/${{ env.K8S_VERSION }}/kubernetes-test-linux-amd64.tar.gz -o ${TMP_DIR}/kubernetes-test-linux-amd64.tar.gz
        tar xvzf ${TMP_DIR}/kubernetes-test-linux-amd64.tar.gz \
          --directory ${TMP_DIR} \
          --strip-components=3 kubernetes/test/bin/ginkgo kubernetes/test/bin/e2e.test
        # kubectl
        curl -L https://dl.k8s.io/${{ env.K8S_VERSION }}/bin/linux/amd64/kubectl -o ${TMP_DIR}/kubectl
        # kind
        curl -Lo ${TMP_DIR}/kind https://kind.sigs.k8s.io/dl/${{ env.KIND_VERSION }}/kind-linux-amd64
        # Install
        sudo cp ${TMP_DIR}/ginkgo /usr/local/bin/ginkgo
        sudo cp ${TMP_DIR}/e2e.test /usr/local/bin/e2e.test
        sudo cp ${TMP_DIR}/kubectl /usr/local/bin/kubectl
        sudo cp ${TMP_DIR}/kind /usr/local/bin/kind
        sudo chmod +x /usr/local/bin/ginkgo
        sudo chmod +x /usr/local/bin/e2e.test
        sudo chmod +x /usr/local/bin/kubectl
        sudo chmod +x /usr/local/bin/kind

    - name: Create multi node cluster
      run: |
        # output_dir
        mkdir -p _artifacts
        # create cluster
        cat <<EOF | /usr/local/bin/kind create cluster \
          --name ${{ env.KIND_CLUSTER_NAME}}           \
          --image kindest/node:${{ env.K8S_VERSION }}  \
          -v7 --wait 1m --retain --config=-
        kind: Cluster
        apiVersion: kind.x-k8s.io/v1alpha4
        networking:
          ipFamily: ${IP_FAMILY}
        nodes:
        - role: control-plane
        - role: worker
        - role: worker
        EOF
        # dump the kubeconfig for later
        /usr/local/bin/kind get kubeconfig --name ${{ env.KIND_CLUSTER_NAME}} > _artifacts/kubeconfig.conf

    - uses: actions/download-artifact@v6
      with:
        name: test-image

    - name: Install kube-ingress
      run: |
        docker load --input kube-ingress-image.tar
        /usr/local/bin/kind load docker-image registry.k8s.io/networking/kube-ingress:test --name ${{ env.KIND_CLUSTER_NAME}}
        sed -i s#registry.k8s.io/networking/kube-ingress.*#registry.k8s.io/networking/kube-ingress:test# install.yaml
        /usr/local/bin/kubectl apply -f ./install.yaml

    - name: Get Cluster status
      run: |
        # wait network is ready
        sleep 5
        /usr/local/bin/kubectl get nodes -o wide
        /usr/local/bin/kubectl get pods -A
        /usr/local/bin/kubectl wait --timeout=1m --for=condition=ready pods --namespace=kube-system -l k8s-app=kube-dns
        /usr/local/bin/kubectl wait --timeout=1m --for=condition=ready pods --namespace=kube-ingress -l app=kube-ingress

    - name: Run ingress conformance tests
      run: |
        /usr/local/bin/ingress-conformance         \
          --ingress-class=kube-ingress             \
          --no-colors                              \
          --output-directory="${PWD}/_artifacts"   \
          --wait-time-for-ingress-status=60s

    - name: Run e2e tests
      run: |
        export KUBERNETES_CONFORMANCE_TEST='y'
        export E2E_REPORT_DIR=${PWD}/_artifacts

        # Run tests
        /usr/local/bin/ginkgo --nodes=25                \
          --focus="Ingress"  \
          /usr/local/bin/e2e.test                       \
          --                                            \
          --kubeconfig=${PWD}/_artifacts/kubeconfig.conf     \
          --provider=local                              \
          --dump-logs-on-failure=false                  \
          --report-dir=${E2E_REPORT_DIR}                \
          --disable-log-dump=true

    - name: Upload Junit Reports
      if: always()
      uses: actions/upload-artifact@v5
      with:
        name: kind-junit-${{ env.JOB_NAME }}-${{ github.run_id }}
        path: './_artifacts/*.xml'

    - name: Export logs
      if: always()
      run: |
        /usr/local/bin/kind export logs --name ${KIND_CLUSTER_NAME} ./_artifacts/logs

    - name: Upload logs
      if: always()
      uses: actions/upload-artifact@v5
      with:
        name: kind-logs-${{ env.JOB_NAME }}-${{ github.run_id }}
        path: ./_artifacts/logs
